<header class="app-header">
  <mat-toolbar>
  <img src="assets/imagens/logo.png" alt="logo da aplicação jornada">
  <span class="spacer"></span>
    <div class="links-toobar">
    <button mat-button>Vender milhas</button>
    <button mat-button>sobre</button>
    <ng-container *ngIf="user$ | async as pessoaUsuaria, else login ">
      <a routerLink="/perfil">
        <img src="assets/icones/user.png" alt="icone usuario">
      </a>
      <button mat-stroked-button (click)="logout()">Sair</button>
    </ng-container>
    <ng-template #login>
      <button routerLink="/cadastro" mat-raised-button color="primary">CADASTRE-SE</button>
      <button routerLink="/login" mat-stroked-button>LOGIN</button>
    </ng-template>

  </div>
 </mat-toolbar>
</header>


